name: Java CI
on:
  push:
    branches: [ main ]
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache:  maven
    - run: mvn clean package
    - name: Build Docker image
      run: docker build -t hello-maven:${{ github.sha }} .

    - name: List Docker images
      run: docker images | grep hello-maven
    - name: Log in to GitHub Container Registry
      if: github.ref == 'refs/heads/main'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      run: |
        docker build -t ghcr.io/isabellabmj/hello-maven:latest .
        docker build -t ghcr.io/isabellabmj/hello-maven:${{ github.sha }} .
        docker push ghcr.io/isabellabmj/hello-maven:latest
        docker push ghcr.io/isabellabmj/hello-maven:${{ github.sha }}

